/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#qr-reader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Contenedor del usuario */
#user-info {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 400px;
    margin: 20px auto;
    text-align: left;
}

/* Estilos de texto */
#user-info p {
    font-size: 18px;
    margin: 10px 0;
}

#user-info strong {
    color: #333;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
#historial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

table {
    width: 90%;
    max-width: 400px; /* Ajusta el tamaño máximo para móviles */
    border-collapse: collapse;
    background-color: white;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Contenedor del formulario de sanción */
#sancion-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 400px;
    margin: 20px auto;
    text-align: left;
}

/* Etiquetas y select */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Botón */
#aplicarSancion {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

#aplicarSancion:hover {
    background-color: #0056b3;
}


@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    #user-info {
        padding: 15px;
        font-size: 16px;
    }
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
    #sancion-form {
        padding: 15px;
    }

    select {
        font-size: 14px;
    }

    #aplicarSancion {
        font-size: 14px;
    }
}
